.card {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 155px;
    margin:55px;
    background-color: #979797;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border-color: rgb(187, 186, 186);
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
    box-sizing: border-box;
}
.Header {
    background-color: #444141;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
}

.UnderHeader {
    background-color: #444141;
    padding: 5px;
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}

.ButtonH2 {
    background-color: #444141;
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}

html {
    background-color: rgb(87, 87, 87);
}

.CardTitle {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.CardText {
    font-size: 1em;
    max-width: 150px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
    padding: 5px;
}

.card:hover {
    background-color: #666666;
    transform: scale(1.2);
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}
.cardDownload {
    background-color: #444141;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
}
.cardDownload:hover {
    background-color: #666666;
    transition: background-color 0.3s ease;
}

.Header-Sites-container {
    background-color: #444141;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.Header-Sites {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
}

.Header-Sites a {
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .card {
        padding: 10px;
        margin: 10px;
    }

    .Header {
        font-size: 18px;
    }
}

.Footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    bottom: 0;
}

.Features {
    text-align: left;
    font-size: 125%;
    font-weight: bold;
    color: #ffffff;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #111111;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.back-to-top:hover {
    background-color: #272727;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.social-media a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card {
    animation: fadeIn 1s ease-in-out;
}
.btn_login {
    background-color: #666464;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.5em;
    font-weight: bold;
    margin: 0 auto;
    margin-right: 0%;
    transition: all 0.2s ease-in;
}
.btn_login:hover {
    background-color: #8a8787;
    color: #dfdfdf;
}

.btn_login{
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto
    font-size 1.2em;
    position: relative;
}
.btn_login::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    bottom: 3px;
    transition: width 0.3s ease-out;
}

.btn_login:hover::before {
    width: 87.6%;
    transition: width 0.3s ease-in;
}

.btn_site{
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto
    font-size 1.2em;
    position: relative;
}
.btn_site:hover {
    color: #dfdfdf;
    text-decoration: none;
    margin: 0 auto
    font-size 1.2em;
    position: relative;
}

.btn_site::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    bottom: 0px;
    transition: width 0.3s ease-out;
}
.btn_site:hover::before {
    width: 100%;
    transition: width 0.3s ease-in;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h4 {
    margin: 0 auto;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    text-align: center;
}

.btn_home {
    background-color: #666464;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.5em;
    font-weight: bold;
}
.btn_home:hover {
    background-color: #8a8787;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.5em;
    font-weight: bold;
}